/* Small devices ((portrait tables and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

image {
    width: auto ;
    max-width: 100% ;
    height: auto ;
}
nav {
    flot;
}


        
table img      {
            width: 100px;
            height: 90px;
        }
    </style>
    .floaed_img
{
    float: left;
}
