/*
color1: rgba(0, 89, 37, 1);
color2: rgba(113, 145, 23, 1);
color3: rgba(30, 87, 140, 1);
color4: rgba(239, 212, 91, 1);
color5: rgba(163, 142, 119, 1);
*/

/* This main css file contains the default rules and is geared toward the small/phone view */


* {
    box-sizing: border-box;

}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-family: 'Oregano', cursive;
    font-size: 1.5rem;
    align-content: center;
    justify-content: center;

}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}

#grid-container{
    display: grid;
    grid-template-areas:
        'header '
        'nav'
        'main'
        'footer';
    grid-gap: 10px;
    max-width: 100%;
    justify-content: center;
    margin: auto;
    align-content: space-around;
    background-color:  lightblue; (142, 119, 1);
}

#homeTour, #tourOne, #event1 { grid-area: left;}
#homeBuy, #tourTwo, #event2 {grid-area: right;}

#content-container{
    display: grid;
    align-content: center;
    max-width: 100%;
    grid-template-areas:
        'left'
        'right';
    grid-gap: 10px;
}

section h2 {grid-area: title;}
section img {grid-area: img;}
section p {grid-area: p;}
.abutton {grid-area: button;
    text-decoration: none;
    color: darkblue;
    text-align: center;
}

#homeTour, #homeBuy, #tourOne, #tourTwo, #event1, #event2{
    display: grid;
    grid-template-areas:
        'title'
        'img'
        'p'
        'button';
}

p
{
    padding: 10px;
}
header  {
    background-color: gold;(87, 140, 1);
    max-width: 100%;
}
footer {
    background-color: darkgray;
    max-width: 50%;
}

header h1, h2 {
    max-width: 90%;
    font-family: 'Chelsea Market', cursive;
    color: darkblue;
    font-size: 2rem;
    text-align: center;
}

header img {
    max-width: 100%;
    margin-top: 15px;
    padding: 10px;
    float:left;
    border-radius: 2em;
}

.eventimg{
    width: 75%;
    margin: auto;
}
nav {}


nav button {
    width: 100px;
    padding-left: 10px;
    border: double rgba(113, 145, 23, 1);
}

nav ul {
    list-style-type: none;
    padding: 10px;
    width: 50%;
    max-width: 100%;
    flex-flow: wrap;
    background-color: rgba(0, 89, 37, 1);
    font-family: 'Chelsea Market', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    display: none;
    border-radius: 2em;
}

nav ul li {
    text-align: center;
    padding: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li:hover{
    background-color: rgba(239, 212, 91, 1);
    color: white;
    border-radius: 2em;
}

main {}

main h2 {
    font-family: 'Chelsea Market', cursive;
    font-size: 1.5rem;
    color: #1761a0;
    text-align: center;
}

#content-container img{
    max-width: 100%;
    height: auto;
}

footer span, footer a {
    padding: 2px;
}

.active {
    background-color: rgba(113, 145, 23, 1);
    border-radius: 2em;
    padding: 10px;
}

fieldset {
    border-radius: 1em;
    margin: 1.75em 0;
    border: #005925 double 4px;
}

legend {
    color: white;
    font-size: 1em;
    background-color: gold;
    margin-left: 10%;
    padding: .5em;
    border-radius: 1em;
    border: gray single 2px;
    font-family: 'Chelsea Market', cursive;
}


label {
    display: block;
    margin: 10px;
}

label span {
    display: block;
    padding-bottom: .2em;
    padding-top: .9em;
}

input.submit, .abutton {
    color: darkblue;
    font-size: 1em;
    font-weight: bold;
    background-color: gold;
    margin-left: 10%;
    padding: .1em;
    border-radius: 1em;
    border: #efd45b single 2px;
    font-family: 'Chelsea Market', cursive;
    width: 50%;
    box-shadow: 5px 5px 10px gold;
    align-content: center;
}
footer {
    border-bottom-color: gray
    
}

textarea {
    min-width: 300px;
    width: 50%;
}

input:required {
    border: 4px solid #efd45b;
}

iframe {
    width: 300px;
}

#contactInfo {
    display: block;
}

.dropdown {
    max-width: 200px;

}
#contactInfo {
    grid-area: left;
}

#embedMap {
    grid-area: right;
}


#form-container {
    display: grid;
    align-content: center;
    max-width: 100%;
    grid-template-areas: 'left' 'right';
    grid-gap: 10px;
}

#form fieldset {
    width: 75%;
}

#price, .price {
    color: rgba(0, 89, 37, 1);
    font-weight: bold;
}