#bikeOne,
#bikeTwo,
#bikeThree {
    grid-area: center;
}

#click1 {
    grid-area: tl;
}

#click2 {
    grid-area: tc;
}

#click3 {
    grid-area: tr;
}

#bikeimg h2 {
    grid-area: h2;
    background-color: rgba(0, 89, 37, 1);
    color: white;
    padding: 10px;
    margin-top: 0;
    height: 60px;
    vertical-align: text-top;
    border-radius: 2em;
}


#bikeimg {
    grid-area: thumbnails;
    display: grid;
    align-content: center;
    max-width: 100%;
    grid-template-areas: 'tl tc tr' 'h2 h2 h2';
    grid-gap: 10px;
    margin: auto;
}

#content-container-sales #bikeimg img {
    max-width: 125px;
}

#bikeimg h3 {
    text-align: center;
}


#content-container-sales {
    display: grid;
    max-width: 100%;
    align-content: flex-start;
    grid-template-areas: 'thumbnails' 'center';
    grid-gap: 5px;
    height: 1200px;
}

#bikeOne,
#bikeTwo,
#bikeThree {
    display: grid;
    grid-template-areas: 'title' 'img' 'p';
}

#content-container-sales img {
    margin: auto;
    border: double 5px rgba(0, 89, 37, 1);
    max-width: 50%;
}

#bikeOne p,
#bikeTwo p,
#bikeThree p {
    margin: auto;
    width: 400px;
}

@media only screen and (min-width: 37.5em) {
    #bikeimg img {
        max-width: 200px;
        grid-gap:
            30px;
    }
    #content-container-sales img {
        margin: auto;
        border: double 15px rgba(0, 89, 37, 1);

    }
    #content-container-sales img {
        max-width: 100%;
    }
    #bikeOne p,
    #bikeTwo p,
    #bikeThree p {
        margin: auto;
        width: 600px;
    }
    #content-container-sales #bikeimg img {
        max-width: 250px;
    }
    }
    @media only screen and (min-width: 64em) {
        #bikeimg img {
            width: 400px;
        }
        #bikeOne p,
        #bikeTwo p,
        #bikeThree p {
            margin: auto;
            width: 800px;
        }
        #content-container-sales {
            display: grid;
            width: 100%;
            align-content: flex-start;
            grid-template-areas: 'thumbnails thumbnails' 'center center';
            grid-gap: 5px;
        }
}
