* { box-sizing: border-box;}  

body {
  
font-family: 'Steve Matterson', sans-serif;
        font-size: 16px;
        text-align: center;
        background-color: lightcyan;
    
}
div header  main figure table body {
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
 text-align: center;
border: 5px; 
word-spacing: 24px;
background-color: lawngreen;
font-size: 26px;
padding: .2rem;
display: inline-grid;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: gold;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
head {
     font-family: 'Steve Matterson' , sans-serif;
     text-align-last: center;
    width: 50%;
    margin: 0 0 0 2%;  
    
}



heading {
 text-align: center;
border: 4px; 
word-spacing: 24px;
background-color: gold;
text-align: center;
font-size: 22px;
padding: .3rem;
          
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
/* The grid: Five equal columns that floats next o each other */
.column {
    float: right;
    width: 100%;
    padding; 10px;
}

h1 p {
    font-size: 16px;
}
header img {
text-align: center;
}
nav {}
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {


}
.logo-img {
    float: left;
}
nav {
    float: right;
}
nav ul li a:hover {}

main figure.myphoto {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}

figure.myphoto img {width:  100%;}
main figure.myphoto figparagraph {text-align: center;font-size: .75}
main figure.myphoto figcaption {text-align: center;}
    
figure.myphoto img {width:  100%;}
main figure.myphoto figparagraph {text-align: center;font-size: .75}
main figure.myphoto figcaption {text-align: center;}
                 
}
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
section {margin:.5rem;}
a {margin-right: 1rem;}
/* hover effect - not anchor tags around images */
img:hover {box-shadow: 5px 5px 10px gray;}
/* rounded corners - boxmodel */
.rocorn {border-radius: 5px 50px;}
/* simple opacity */
.opac {opacity: .5;}

table, th, td {
           border: 8px; solid gold;
           text-align: center;
    background-color:  greenyellow;
footer {
    background-color: lightgray;
    padding: .5rem 2%;
    text-align: center;
    text-decoration-color: white;
    
}