@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

    nav button {
        display:none;
    }  /* hamburger button does not need to be shown in the medium on up views */

    nav {

    }
    nav ul.hide {
        display: block;
    }
    nav ul li a {
        float: left;
        display: block;
        border: none;
    }
    header img {
        width: 30%;
    }
    main figure img {
        width: 50%;
    }
    .forecast {
        display: contents;
    }  /* show the 10-day forecast with the medium view and up */

    article img {
        float: none;
        width: 50%
    }
  }
.floaed_img
{
    float: left;
    
}