@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body{
    font-size: 16px;
    
}
table {
    margin: 200px;
    box-shadow: 5px 10px 15px #628ca6;
}
table, th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
thead {
    font-size: 1.5em;
}
th,td {
    padding: 15px;
  text-align: b
      center: blackfriday;
}
tbody th {
    background-color: #628ca6;
    color: white;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}
tbody tr:nth-child(odd) {
    background-color:#e7ffed;
}
tbody tr:nth-child(5) td:nth-child(3) {
    background-color:#628ca6;
}
tfoot {
    text-align: center;
    font-size: .8em;
}
thead, tfoot {
   background-color: #7fb9c2;
}

#e7f0ed
#e7ffed
#628ca6
#7fb9c2