{ box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    @import url("https://fonts.googleapis.com/css?family=Oswald");/* Declare the base font-family*/
    @import url("https://fonts.googleapis.com/css?family=Raleway");
}
header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 100%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
header {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
header h1 {
    color: #6d9dc5;
    font-family: "Oswald";
    font-size: 3em;
    margin-top: 1px;
    padding: 15px;
}
header img {
    padding: 1px;
}
header .subheading {
    color: #447604;
    font-family: "Raleway";
    font-size: 150%;
}

nav {
    display: flex;
    flex-direction: column;

}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}
nav ul {
    list-style-type: none;
    margin-left: 2%;
    padding: 0;

}
nav ul li a {
    background-color: #447604;
    color: #5efc8d;
    padding: 0;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li a {}
nav ul li.active a {
    color: #447604;
    background-color: #5efc8d;
}
nav ul li a:hover {
    background-color: #6d9dc5;
}
nav ul.hide {
    display: none;
}